body {
  display: flex;
  background-color: #e5e5e5;
  background-image: url('docs/image/roadtrip.jpg');
  background-repeat: no-repeat;
  font-family: sans-serif;
}

#map {
  height: 500px;
  width: 100%;
}

.title {
  margin: 0;
  color: white;
}

.description {
  margin: 0;
  font-style: italic;
  color: white;
}

.container {
  display: flex;
  width: 800px;
  height: 100vh;
  flex-direction: column;
  background-color: white;
  padding: 0 10px;
  background-color: transparent;
}

.configuration {
  display: flex;
  flex-direction: row;
  background-color: white;
}

.settings {
  display: flex;
  flex-direction: column;
}

.results {

}

.generation {

}
