body {
  display: flex;
  background-image: url('docs/image/roadtrip.jpg');
  background-repeat: no-repeat;
  font-family: Archivo Narrow;
}

#map {
  height: 90%;
  width: 70%;
}

.title {
  margin: 0;
  color: white;
}

.description {
  margin: 0;
  font-style: italic;
  color: white;
}

.container {
  display: flex;
  width: 95vw;
  height: 100%;
  flex-direction: column;
  padding: 0 20px;
  background-color: transparent;
}

.fa-info-circle {
  margin-left: 5px;
  font-size: 8px;
}

.display {
  display: flex;
  flex-direction: row;
}

.configuration {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #e7e7e7;
  width: 13%;
  margin-left: 70px;
  margin-right: 70px;
  padding-left: 10px;
  border: 1px solid black;
  border-radius: 3px;
}

.options {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}

.select {
  width: 93%
}

.settings {
  display: flex;
  flex-direction: column;
  height: 70%;
  justify-content: space-around;
}

.settings-options {
  display: flex;
  flex-direction: column;
}

.button {
  padding: 0 10px;
}

.results {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.travelMode {
  padding-top: 20px;
}

.generation {

}
